<h1> <%= @kpopidol.stage_name %> </h1>
<br>
<br>
<h4> Birth Name: <%= @kpopidol.birth_name %> </h4>
<h4> Birthday: <%= @kpopidol.birthday %> </h4>
<h4> Birth Place: <%= @kpopidol.birth_place %> </h4>
<h4> Height: <%= @kpopidol.height %> </h4>
<h4> Position: <%= @kpopidol.position %> </h4>
<h4> Nickname: <%= @kpopidol.nickname %> </h4>
<h4> Famous Quote: <%= @kpopidol.famous_quote %> </h4>
<br>
<br>
<br>
<br>

<a href="/kpopidols/<%= @kpopidol.id %>/biaslists/new">Add Bias</a>





