
<h4>List of Male Bias Idols</h4>

<% @biaslist.each do |b| %>
<h3><a href="/idols/<%= biaslist.idol.id %>"><%= biaslist.idol.stage_name  %></a></h3>
<h4> Bias Rank: <%= biaslist.notes %></h4>
<h3><a href="/idols/<%= biaslist.idol.id %>/biaslists/<%= biaslist.id %>/edit">Edit Bias Rank</a></h3>

<form action="/idols/<%= biaslist.idol.id %>/biaslists/<%= biaslist.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit"> No Longer a Bias</button>
  </form> 
<% end %>